# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [3]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [21]:
# your code here
orders = pd.read_csv('Orders.zip')
orders = orders.drop("Unnamed: 0", axis=1)
orders.head()

,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [22]:
# your code here
# aggregated amount by customer
unique_customers = orders.groupby(['CustomerID']).agg({'amount_spent':sum})

In [23]:
# your code here
#check result by calcultations
display(unique_customers['amount_spent'].min())
display(unique_customers['amount_spent'].max())
display(unique_customers['amount_spent'].mean())
print('size of bins = ', (unique_customers['amount_spent'].max()-unique_customers['amount_spent'].min())/2)
display(unique_customers[unique_customers['amount_spent']<84234.8+0].shape)
display(unique_customers[unique_customers['amount_spent']>168469.6-84234.8].shape)

0.0

280206.02

2053.793017746025

size of bins =  140103.01

(4331, 1)

(8, 1)

In [25]:
# by cut
labels = ["Preferred", "VIP"]
bins = pd.cut(unique_customers['amount_spent'],2, labels = labels)
bins.value_counts()

Preferred    4334
VIP             5
Name: amount_spent, dtype: int64

In [26]:
# better way by equality
qbins = pd.qcut(unique_customers['amount_spent'],2, labels = labels)
qbins.value_counts()

Preferred    2170
VIP          2169
Name: amount_spent, dtype: int64

In [28]:
#but we can use a more general method: apply
unique_customers['Customer-Flag'] = unique_customers['amount_spent'].apply(qbins)

AttributeError: 'VIP' is not a valid function for 'Series' object

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [ ]:
# your code here

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [ ]:
# your code here